<head>
  <meta charset="utf-8" />
  <title>Coolheating</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext">
  <link href="./css/boostrap/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/theme.min.css" />
  <link rel="stylesheet" href="./css/coolheating.css" />
  <link rel="stylesheet" href="./css/responsive.css" />
  <link rel="icon" href="./images/favicon.png" type="image/png">

</head>

<body>
  <div class="body">
    <header class="header standart_nav">
      <div class="center">
        <div class="container p-t-30 p-b-30">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <a href="./index.html" class="logo">
                <img src="./images/Logo_Coolheating.png" class="img-responsive" alt="" />
              </a>
            </div>
            <!--<div class="col-lg-2 col-md-2 hidden-sm hidden-xs info border-right">
                               <div>
                                   <i class="fa fa-phone"></i>
                               </div>
                               <div>
                                   <strong>Teléfono</strong>
                                   <span>+562 2570 2130</span>
                               </div>
                           </div>-->
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs info">
              <div>
                <i class="fa fa-envelope-open-o"></i>
              </div>
              <div>
                <strong>EMAIL</strong>
                <span>contacto@coolheating.cl</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-10 rspnav">
              <nav class="collnav collapse">
                <ul class="nav nav-pills">
                  <li><a href="./index.html" class="">Home</a></li>
                  <li class="dropdown ">
                    <a class="dropdown-toggle" href="#home">Hogar - Comercial</a>
                    <ul class="dropdown-menu">
                      <li><a href="./bomba-calor.html" class="">Bomba de Calor</a></li>
                      <li><a href="./calefaccion-hibrida.html" class="">Calefacción
                          Híbrida</a></li>
                      <li><a href="./fan-coil.html" class="">Fan Coils</a></li>
                      <li><a href="./bomba-agua-caliente-sanitaria.html" class="">Bomba
                          de Calor ACS</a></li>
                      <li class=""><a href="./bomba-acs-industrial.html">ACS y
                          Climatización Industrial</a></li>
                    </ul>
                  </li>
                  <!--<li class="dropdown {% block indutrialActive %}{% endblock %}">
                                           <a class="dropdown-toggle" href="/#industrial"> - Industrial</a>
                                           <ul class="dropdown-menu">
                                              
                                               <li class="{% block indutrialTwoActive %}{% endblock %}" ><a href="{{path('greenhouse')}}">Climatización Invernaderos</a></li>
                                               <li class="{% block indutrialThreeActive %}{% endblock %}" ><a href="{{path('drying')}}">Secadora Agricultura</a></li>
                                           </ul>
                                       </li>-->
                  <li><a href="./index.html#about">Quienes Somos</a></li>
                  <li><a href="#contact">Contacto</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-11 col-xs-10 hidden-lg hidden-md rspbtn">
              <button data-toggle="collapse" data-target=".collnav">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="header-page industrial-acs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Producción Agua Caliente Sanitaria <br>y Climatización industrial</h1>
                </div>
            </div>
        </div>
    </section>        
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside p-t-50">
                    <h4>Menú</h4>
                    <ul class="category m-b-50">
                        <li><a href="./bomba-calor.html">Bombas de calor para climatización</a></li>
                        <li><a href="./calefaccion-hibrida.html">Calefacción híbrida</a></li>
                        <li><a href="./fan-coil.html">Fan Coils</a></li>
                        <li><a href="./bomba-agua-caliente-sanitaria.html">Bomba de calor ACS</a></li>
                        <li class="active"><a href="./bomba-acs-industrial.html">Producción ACS y climatización industrial</a></li> 
                    </ul>
                    <h4>Descarga folletos</h4>
                    <ul class="download m-b-50">
                        <li><a href="./docs/Brochure_Coolheating_Bomba_de_Calor.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Bombas de calor brochure.pdf</a></li>
                        <li><a href="./docs/Coolheating_Calefaccion_hibrida.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Calefacción híbrida.pdf</a></li>
                        <li><a href="./docs/Coolheating_Fancoil.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> FanCoils.pdf</a></li>
                        <li><a href="./docs/Coolheating-Bombas-ACS.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Bombas de calor agua caliente sanitaria.pdf</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <article class="services-detail p-t-40 p-b-40">
                    <div class="row">
                        <div class="col-sm-4 text-center product">
                            <img src="./images/heatpro.jpg">
                        </div>
                        <div class="col-sm-7 col-sm-offset-1">
                            <h2>Bombas de calor <br>Heat Pro</h2>
                            <hr class="hr" />
                            <p>Las bombas de calor serie HeatPro de Coolheating, con tecnología de inyección de vapor (EVI), ofrecen un rendimiento y una fiabilidad excepcionales, tanto en climatización de edificios como en el reemplazo de las calderas. </p>
                        </div>
                    </div> 
                </article>
            </div>
        </div>
    </div>
    <section class="counter bg-aqua">
        <div class="container">
             <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p>Solución ideal para comunidades, industrias o comercios que requieran grandes volúmenes de agua caliente o climatización de grandes espacios.</p>
                </div>    
            </div> 
        </div>
    </section>                                       
    <div class="container acs-table">
        <div class="row">
            <div class="col-md-12">
                <article class="services-detail p-t-40 p-b-40">
                    <div class="row">
                        <div class="col-md-5 graphic-ACS">
                            <p>Gracias a la tecnología EVI, la serie HeatPro cuenta con un amplio rango de temperatura de funcionamiento. Esto significa que el agua puede alcanzar altas temperaturas (55-65°C), incluso en climas que van desde los -20°C a 45°C. </p>
                            <h3>Agua hasta 65ºC</h3>
                            <img src="./images/grafico.jpg">
                            <p>Solución ideal comunidades, o para industrias y comercios que requieran grandes volúmenes de agua caliente: hoteles, SPAs, hospitales, etc.</p>
                        </div>
                        <div class="col-md-7 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>  </th>
                                        <th>PASHW</th>
                                        <th><img src="./images/050S-PS.jpg"> 050S-PS</th>
                                        <th><img src="./images/100S-PS.jpg"> 100S-PS</th>
                                        <th><img src="./images/150S-PS.jpg"> 150S-PS</th>
                                        <th><img src="./images/heatpro.jpg"> 300S-PS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="white-bg" rowspan="4">Producción ACS A20/15°C, W15°C a 55°C</td>
                                        <td>Capacidad (kW)</td>
                                        <td>19</td>
                                        <td>36,5</td>
                                        <td>50</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Potencia consumida (kW)</td>
                                        <td>4,1</td>
                                        <td>7,8</td>
                                        <td>10,8</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>COP (W/W)</td>
                                        <td>4,63</td>
                                        <td>4,67</td>
                                        <td>4,63</td>
                                        <td>4,55</td>
                                    </tr>
                                    <tr>
                                        <td>Agua Caliente (L/h)</td>
                                        <td>400</td>
                                        <td>800</td>
                                        <td>1075</td>
                                        <td>2150</td>
                                    </tr>
                                    <tr>
                                        <td>Máxima potencia consumida</td>
                                        <td>kW</td>
                                        <td>6</td>
                                        <td>12</td>
                                        <td>20,8</td>
                                        <td>41,5</td>
                                    </tr>
                                    <tr>
                                        <td>Máxima corriente consumida</td>
                                        <td>A</td>
                                        <td>8,8</td>
                                        <td>19</td>
                                        <td>37</td>
                                        <td>74</td>
                                    </tr>
                                    <tr>
                                        <td>Suministro</td>
                                        <td>V/Ph/Hz</td>
                                        <td colspan="4">380~415V/3N/50Hz</td> 
                                    </tr>
                                    <tr>
                                        <td>Compresor</td>
                                        <td>-</td>
                                        <td colspan="4">Copeland R410A EVI Scroll</td>  
                                    </tr>
                                    <tr>
                                        <td>Rango de operación</td>
                                        <td>ºC</td>
                                        <td colspan="4">'-30°C~45°C</td>  
                                    </tr>
                                    <tr>
                                        <td>Compresor</td>
                                        <td>-</td>
                                        <td colspan="4">Copeland R410A EVI Scroll</td>  
                                    </tr>
                                    <tr>
                                        <td>Dimensiones</td>
                                        <td>mm</td>
                                        <td>980x390x1280</td>
                                        <td>1556x605x1850</td>
                                        <td>1413x854x2000</td>
                                        <td>2180x1080x2100</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </article>
            </div>
        </div>
    </div>                
</div>
</body>



