<head>
  <meta charset="utf-8" />
  <title>Coolheating</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext">
  <link href="./css/boostrap/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/theme.min.css" />
  <link rel="stylesheet" href="./css/coolheating.css" />
  <link rel="stylesheet" href="./css/responsive.css" />
  <link rel="icon" href="./images/favicon.png" type="image/png">

</head>

<body>
  <div class="body">
    <header class="header standart_nav">
      <div class="center">
        <div class="container p-t-30 p-b-30">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <a href="./index.html" class="logo">
                <img src="./images/Logo_Coolheating.png" class="img-responsive" alt="" />
              </a>
            </div>
            <!--<div class="col-lg-2 col-md-2 hidden-sm hidden-xs info border-right">
                               <div>
                                   <i class="fa fa-phone"></i>
                               </div>
                               <div>
                                   <strong>Teléfono</strong>
                                   <span>+562 2570 2130</span>
                               </div>
                           </div>-->
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs info">
              <div>
                <i class="fa fa-envelope-open-o"></i>
              </div>
              <div>
                <strong>EMAIL</strong>
                <span>contacto@coolheating.cl</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-10 rspnav">
              <nav class="collnav collapse">
                <ul class="nav nav-pills">
                  <li><a href="./index.html" class="">Home</a></li>
                  <li class="dropdown ">
                    <a class="dropdown-toggle" href="#home">Hogar - Comercial</a>
                    <ul class="dropdown-menu">
                      <li><a href="./bomba-calor.html" class="">Bomba de Calor</a></li>
                      <li><a href="./calefaccion-hibrida.html" class="">Calefacción
                          Híbrida</a></li>
                      <li><a href="./fan-coil.html" class="">Fan Coils</a></li>
                      <li><a href="./bomba-agua-caliente-sanitaria.html" class="">Bomba
                          de Calor ACS</a></li>
                      <li class=""><a href="./bomba-acs-industrial.html">ACS y
                          Climatización Industrial</a></li>
                    </ul>
                  </li>
                  <!--<li class="dropdown {% block indutrialActive %}{% endblock %}">
                                           <a class="dropdown-toggle" href="/#industrial"> - Industrial</a>
                                           <ul class="dropdown-menu">
                                              
                                               <li class="{% block indutrialTwoActive %}{% endblock %}" ><a href="{{path('greenhouse')}}">Climatización Invernaderos</a></li>
                                               <li class="{% block indutrialThreeActive %}{% endblock %}" ><a href="{{path('drying')}}">Secadora Agricultura</a></li>
                                           </ul>
                                       </li>-->
                  <li><a href="./index.html#about">Quienes Somos</a></li>
                  <li><a href="#contact">Contacto</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-11 col-xs-10 hidden-lg hidden-md rspbtn">
              <button data-toggle="collapse" data-target=".collnav">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bombas de calor para Agua Caliente Sanitaria</h1>
                </div>
            </div>
        </div>
    </section>        
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside p-t-50">
                    <h4>Menú</h4>
                    <ul class="category m-b-50">
                        <li><a href="./bomba-calor.html">Bombas de calor para climatización</a></li>
                        <li><a href="./calefaccion-hibrida.html">Calefacción híbrida</a></li>
                        <li><a href="./fan-coil.html">Fan Coils</a></li>
                        <li class="active"><a href="./bomba-agua-caliente-sanitaria.html">Bomba de calor ACS</a></li>
                        <li><a href="./bomba-acs-industrial.html">Producción ACS y climatización industrial</a></li> 
                    </ul>
                    <h4>Descarga folletos</h4>
                    <ul class="download m-b-50">
                        <li><a href="./docs/Brochure_Coolheating_Bomba_de_Calor.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Bombas de calor brochure.pdf</a></li>
                        <li><a href="./docs/Coolheating_Calefaccion_hibrida.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Calefacción híbrida.pdf</a></li>
                        <li><a href="./docs/Coolheating_Fancoil.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> FanCoils.pdf</a></li>
                        <li><a href="./docs/Coolheating-Bombas-ACS.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Bombas de calor agua caliente sanitaria.pdf</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <article class="services-detail bomba-acs p-t-40 p-b-40">
                    <div class="row">
                        <div class="col-sm-4 text-center product">
                            <img src="./images/bomba-ACS.jpg">
                        </div>
                        <div class="col-sm-8">
                            <h2>Bombas de calor para Agua Caliente Sanitaria</h2>
                            <hr class="hr" />
                            <p>Las bombas de calor de agua caliente sanitaria de Coolheating, permiten generar ACS con un tercio de la energía consumida en un termo eléctrico tradicional, esto gracias a que las bombas de calor aprovechan el calor del ambiente, haciendo mucho más eficiente este proceso.</p>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-sm-12 esquema text-center">
                            <img src="./images/esquema-ACS.png">
                        </div>    
                    </div>  
                    <div class="row">
                        <div class="col-sm-4 icon text-center">
                            <img src="./images/panel.jpg">
                            <h5>Compatible con Sistema Solar Térmico</h5>
                        </div>
                        <div class="col-sm-8 icon text">
                            <p>Las bombas de calor Coolheating son una excelente alternativa para combinar con sus colectores solares, se pueden usar como medio de soporte y acumulación de su SST.</p>
                            <p>Nuestras bombas de calor incluyen un intercambiador de calor en su interior, lo que permite usar nuestras bombas de calor como acumulador y soporte para colectores solares en los días de menos radiación solar, logrando una excelente eficiencia en su sistema de ACS.</p>
                        </div>
                    </div>  
                </article>
            </div>
        </div>
    </div>
</div>
</body>




