<head>
    <meta charset="utf-8" />
    <title>Coolheating</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext">
    <link href="./css/boostrap/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/theme.min.css" />
    <link rel="stylesheet" href="./css/coolheating.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
    <link rel="icon" href="./images/favicon.png" type="image/png">
  
  </head>
  
  <body>
    <div class="body">
      <header class="header standart_nav">
        <div class="center">
          <div class="container p-t-30 p-b-30">
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <a href="./index.html" class="logo">
                  <img src="./images/Logo_Coolheating.png" class="img-responsive" alt="" />
                </a>
              </div>
              <!--<div class="col-lg-2 col-md-2 hidden-sm hidden-xs info border-right">
                                 <div>
                                     <i class="fa fa-phone"></i>
                                 </div>
                                 <div>
                                     <strong>Teléfono</strong>
                                     <span>+562 2570 2130</span>
                                 </div>
                             </div>-->
              <div class="col-lg-3 col-md-3 hidden-sm hidden-xs info">
                <div>
                  <i class="fa fa-envelope-open-o"></i>
                </div>
                <div>
                  <strong>EMAIL</strong>
                  <span>contacto@coolheating.cl</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-11 col-sm-11 col-xs-10 rspnav">
                <nav class="collnav collapse">
                  <ul class="nav nav-pills">
                    <li><a href="./index.html" class="">Home</a></li>
                    <li class="dropdown ">
                      <a class="dropdown-toggle" href="#home">Hogar - Comercial</a>
                      <ul class="dropdown-menu">
                        <li><a href="./bomba-calor.html" class="">Bomba de Calor</a></li>
                        <li><a href="./calefaccion-hibrida.html" class="">Calefacción
                            Híbrida</a></li>
                        <li><a href="./fan-coil.html" class="">Fan Coils</a></li>
                        <li><a href="./bomba-agua-caliente-sanitaria.html" class="">Bomba
                            de Calor ACS</a></li>
                        <li class=""><a href="./bomba-acs-industrial.html">ACS y
                            Climatización Industrial</a></li>
                      </ul>
                    </li>
                    <!--<li class="dropdown {% block indutrialActive %}{% endblock %}">
                                             <a class="dropdown-toggle" href="/#industrial"> - Industrial</a>
                                             <ul class="dropdown-menu">
                                                
                                                 <li class="{% block indutrialTwoActive %}{% endblock %}" ><a href="{{path('greenhouse')}}">Climatización Invernaderos</a></li>
                                                 <li class="{% block indutrialThreeActive %}{% endblock %}" ><a href="{{path('drying')}}">Secadora Agricultura</a></li>
                                             </ul>
                                         </li>-->
                    <li><a href="./index.html#about">Quienes Somos</a></li>
                    <li><a href="#contact">Contacto</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-sm-11 col-xs-10 hidden-lg hidden-md rspbtn">
                <button data-toggle="collapse" data-target=".collnav">
                  <i class="fa fa-bars"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>

    <section class="header-page greenhouse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Climatización de invernaderos</h1>
                </div>
            </div>
        </div>
    </section>        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="services-detail p-t-40 p-b-40">
                    <div class="row">
                        <div class="col-sm-4 text-center product">
                            <img src="./images/ecoclimate.jpg">
                        </div>
                        <div class="col-sm-7 col-sm-offset-1">
                            <h2>Bombas de calor <br>EcoClimate</h2>
                            <hr class="hr" />
                            <p>Las bombas de calor de la serie EcoClimate de Coolheating usan el agua como fuente de calor. Éstas fueron diseñadas especialmente para controlar temperatura del aire y la humedad en el invernadero.</p>
                            <p>Con múltiples funciones de calefacción, refrigeración, deshumidificación y ventilación, éstas bombas de calor pueden proporcionar una solución perfecta para las plantaciones de invernadero.</p>
                        </div>
                    </div> 
                </article>
            </div>
        </div>
    </div>
    <section class="description benefits p-t-60 light-grey-bg greenhouse">
        <div class="container">
            <div class="row">
                <div class="col-md-12 palovit-title m-b-20">
                    <h2>Características:</h2>
                    <hr class="hr" />
                </div>
                <div class="col-md-4 col-sm-6 m-b-60 item">
                    <img src="./images/greenhouse1.png">
                    <div>
                        <p>Capacidad de calefacción escalonada ahorra más energía.</p> 
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-60 item">
                    <img src="./images/greenhouse2.png">
                    <div>
                        <p>Volumen de aire variable basado en la temperatura.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-60 item">
                    <img src="./images/greenhouse3.png">
                    <div>
                        <p>Sensor día/noche para cambiar el modo de calefacción/refrigeración.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-60 item">
                    <img src="./images/greenhouse4.png">
                    <div>
                        <p>Deshumidificación automática</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-60 item">
                    <img src="./images/greenhouse5.png">
                    <div>
                        <p>Temporizador para encendido/apagado automático</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-60 item">
                    <img src="./images/greenhouse6.png">
                    <div>
                        <p>En clima muy frío, calefacción eléctrica disponible</p>
                    </div>
                </div>
            </div>
        </div>
    </section>                                             
                



</div>
</body>
