<head>
  <meta charset="utf-8" />
  <title>Coolheating</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext">
  <link href="./css/boostrap/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/theme.min.css" />
  <link rel="stylesheet" href="./css/coolheating.css" />
  <link rel="stylesheet" href="./css/responsive.css" />
  <link rel="icon" href="./images/favicon.png" type="image/png">

</head>

<body>
  <div class="body">
    <header class="header standart_nav">
      <div class="center">
        <div class="container p-t-30 p-b-30">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <a href="/" class="logo">
                <img src="./images/Logo_Coolheating.png"
                  class="img-responsive" alt="" />
              </a>
            </div>
            <!--<div class="col-lg-2 col-md-2 hidden-sm hidden-xs info border-right">
                               <div>
                                   <i class="fa fa-phone"></i>
                               </div>
                               <div>
                                   <strong>Teléfono</strong>
                                   <span>+562 2570 2130</span>
                               </div>
                           </div>-->
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs info">
              <div>
                <i class="fa fa-envelope-open-o"></i>
              </div>
              <div>
                <strong>EMAIL</strong>
                <span>contacto@coolheating.cl</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-10 rspnav">
              <nav class="collnav collapse">
                <ul class="nav nav-pills">
                  <li><a href="/" class="">Home</a></li>
                  <li class="dropdown ">
                    <a class="dropdown-toggle" href="#home">Hogar - Comercial</a>
                    <ul class="dropdown-menu">
                      <li><a href="/bomba-calor" class="">Bomba de Calor</a></li>
                      <li><a href="/calefaccion-hibrida" class="">Calefacción
                          Híbrida</a></li>
                      <li><a href="/fan-coil" class="">Fan Coils</a></li>
                      <li><a href="/bomba-agua-caliente-sanitaria"
                          class="">Bomba
                          de Calor ACS</a></li>
                      <li class=""><a
                          href="/bomba-acs-industrial">ACS y
                          Climatización Industrial</a></li>
                    </ul>
                  </li>
                  <!--<li class="dropdown {% block indutrialActive %}{% endblock %}">
                                           <a class="dropdown-toggle" href="/#industrial"> - Industrial</a>
                                           <ul class="dropdown-menu">
                                              
                                               <li class="{% block indutrialTwoActive %}{% endblock %}" ><a href="{{path('greenhouse')}}">Climatización Invernaderos</a></li>
                                               <li class="{% block indutrialThreeActive %}{% endblock %}" ><a href="{{path('drying')}}">Secadora Agricultura</a></li>
                                           </ul>
                                       </li>-->
                  <li><a href="#about">Quienes Somos</a></li>
                  <li><a href="#contact">Contacto</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-11 col-xs-10 hidden-lg hidden-md rspbtn">
              <button data-toggle="collapse" data-target=".collnav">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="main">

    </div>

    <footer id="footer" class="footer">
      <div class="ftop">
        <div class="container">
          <div class="row">
            <div class="col-md-8">

              <ul class="footer-menu">
                <li><a href="/">HOME</a></li>
                <li><a href="#home">HOGAR - COMERCIAL</a></li>
                <li><a href="#about">QUIENES SOMOS</a></li>
                <li><a href="#contact">CONTACTO</a></li>
              </ul>
            </div>
            <div class="col-md-4 contact">
              <h3>CONTACTO</h3>
              <p>Av. Apoquindo 4775 of 1804, Las condes.</p>
              <p><a href="mailto:contacto@coolheating.cl">contacto@coolheating.cl</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="fbottom">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="/" class="logo">
                <img src="./images/Logo_Coolheating.png" class="img-responsive"
                  alt="" />
              </a>
            </div>
            <div class="col-md-4 copyright">
              © Copyright 2016. All Rights Reserved.
            </div>
            <!--<div class="col-md-6">
                           <ul class="social">
                               <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                               <li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
                               <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                           </ul>
                       </div>-->
          </div>
        </div>
      </div>
    </footer>
  </div>

  <a class="pagetop" href="#">
    <i class="fa fa-chevron-up"></i>
  </a>


  <script src="./js/jquery-3.1.1.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <!-- <script src="./js/script.js"></script> -->
  <script src="./js/jquery.cookie-1.4.1.min.js"></script>

</body>