<head>
  <meta charset="utf-8" />
  <title>Coolheating</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext">
  <link href="./css/boostrap/bootstrap.min.css" rel="stylesheet">
  <link href="./css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/theme.min.css" />
  <link rel="stylesheet" href="./css/coolheating.css" />
  <link rel="stylesheet" href="./css/responsive.css" />
  <link rel="icon" href="./images/favicon.png" type="image/png">

</head>

<body>
  <div class="body">
    <header class="header standart_nav">
      <div class="center">
        <div class="container p-t-30 p-b-30">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <a href="/" class="logo">
                <img src="./images/Logo_Coolheating.png" class="img-responsive" alt="" />
              </a>
            </div>
            <!--<div class="col-lg-2 col-md-2 hidden-sm hidden-xs info border-right">
                               <div>
                                   <i class="fa fa-phone"></i>
                               </div>
                               <div>
                                   <strong>Teléfono</strong>
                                   <span>+562 2570 2130</span>
                               </div>
                           </div>-->
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs info">
              <div>
                <i class="fa fa-envelope-open-o"></i>
              </div>
              <div>
                <strong>EMAIL</strong>
                <span>contacto@coolheating.cl</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-10 rspnav">
              <nav class="collnav collapse">
                <ul class="nav nav-pills">
                  <li><a href="/" class="">Home</a></li>
                  <li class="dropdown ">
                    <a class="dropdown-toggle" href="#home">Hogar - Comercial</a>
                    <ul class="dropdown-menu">
                      <li><a href="/bomba-calor" class="">Bomba de Calor</a></li>
                      <li><a href="/calefaccion-hibrida" class="">Calefacción
                          Híbrida</a></li>
                      <li><a href="/fan-coil" class="">Fan Coils</a></li>
                      <li><a href="/bomba-agua-caliente-sanitaria" class="">Bomba
                          de Calor ACS</a></li>
                      <li class=""><a href="/bomba-acs-industrial">ACS y
                          Climatización Industrial</a></li>
                    </ul>
                  </li>
                  <!--<li class="dropdown {% block indutrialActive %}{% endblock %}">
                                           <a class="dropdown-toggle" href="/#industrial"> - Industrial</a>
                                           <ul class="dropdown-menu">
                                              
                                               <li class="{% block indutrialTwoActive %}{% endblock %}" ><a href="{{path('greenhouse')}}">Climatización Invernaderos</a></li>
                                               <li class="{% block indutrialThreeActive %}{% endblock %}" ><a href="{{path('drying')}}">Secadora Agricultura</a></li>
                                           </ul>
                                       </li>-->
                  <li><a href="#about">Quienes Somos</a></li>
                  <li><a href="#contact">Contacto</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-11 col-xs-10 hidden-lg hidden-md rspbtn">
              <button data-toggle="collapse" data-target=".collnav">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="main">
      <!-- template -->
      <section class="principal-image">
        <img src="./images/home.jpg">
        <div class="principal-text">
          <h1>Climatice su casa todo el año y <strong>ahorre hasta un 50%</strong> en calefacción</h1>
        </div>
      </section>
      <!-- end of template -->

      <section class="description p-t-60 p-b-20" id="home">
        <div class="container">
          <div class="row">
            <div class="col-md-12 palovit-title m-b-20">
              <h2>Coolheating</h2>
              <hr class="hr" />
            </div>
            <div class="col-md-4 col-sm-4 m-b-60 item hover-img">
              <figure>
                <a href="/bomba-calor"><img src="./images/bomba-calor.jpg"></a>
              </figure>
              <div>
                <h4><a href="/bomba-calor">Bomba de calor para climatización</a></h4>
                <!--<p>Bringing so sociable felicity supplied mr. September suspicion far him two acuteness perfectly.</p>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 m-b-60 item hover-img">
              <figure>
                <a href="/calefaccion-hibrida"><img src="./images/hibrida.jpg"></a>
              </figure>
              <div>
                <h4><a href="/calefaccion-hibrida}">Calefacción híbrida</a></h4>
                <!--<p>Bringing so sociable felicity supplied mr. September suspicion far him two acuteness perfectly.</p>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-4 m-b-60 item hover-img">
              <figure>
                <a href="/fan-coil"><img src="./images/fancoil.jpg"></a>
              </figure>
              <div>
                <h4><a href="/fan-coil">Fan Coils</a></h4>
                <!--<p>Bringing so sociable felicity supplied mr. September suspicion far him two acuteness perfectly.</p>-->
              </div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-6 m-b-60 item hover-img">
              <figure>
                <a href="/bomba-agua-caliente-sanitaria"><img
                    src="./images/ACS-home.jpg"></a>
              </figure>
              <div>
                <h4><a href="/bomba-agua-caliente-sanitaria">Bomba de calor para Agua Caliente Sanitaria</a>
                </h4>
                <!--<p>Bringing so sociable felicity supplied mr. September suspicion far him two acuteness perfectly.</p>-->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b-50 item hover-img">
              <figure>
                <a href="/bomba-acs-industrial"><img src="./images/ACS.jpg"></a>
              </figure>
              <div>
                <h4><a href="/bomba-acs-industrial">Producción Agua Caliente Sanitaria y climatización
                    industrial</a></h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="counter">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <strong>Disfrute una casa cálida en invierno y fresca en verano</strong>
              <span>Mejore su calidad de vida con las Bombas de Calor de CoolHeating. Las Bombas de Calor CoolHeating
                permiten proporcionarle, con un solo sistema, calor en invierno y frío en verano gracias a su tecnología
                reversible.</span>
            </div>
          </div>
        </div>
      </section>
      <section class="description benefits m-b-60 p-t-60 p-b-20">
        <div class="container">
          <div class="row">
            <div class="col-md-12 palovit-title m-b-20">
              <h2>Con las soluciones energéticas de Coolheating podrá:</h2>
              <hr class="hr" />
            </div>
            <div class="col-md-3 col-sm-6 m-b-60 item">
              <img src="./images/calidad-vida.png">
              <div>
                <p>Mejorar su calidad de vida</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 m-b-60 item">
              <img src="./images/calificacion.png">
              <div>
                <p>Mejorar la calificación energética de su casa</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 m-b-60 item">
              <img src="./images/ahorro.png">
              <div>
                <p>Ahorrar Recursos</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 m-b-60 item">
              <img src="./images/co2.png">
              <div>
                <p>Reducir la huella de carbono</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--<section class="calculator">
        <div class="container">
            <div class="row">
                <div class="col-md-12 palovit-title m-b-20">
                    <h2>Calculadora de Ahorro</h2>
                    <hr class="hr" />
                    <h4>Ingresa tus gastos y descubre el beneficio de utilizar Coolheating</h4>
                </div>
                <div class="col-md-12">
                    <form class="form-inline">
                        <div class="form-group col-sm-5">
                            <label class="sr-only" for="exampleInputEmail3">Gasto Anual Calefacción</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Gasto Anual Calefacción">
                        </div>
                        <div class="form-group col-sm-5">
                            <select class="form-control">
                                <option>Combustible</option>
                                <option>Gas Natural</option>
                                <option>GLP</option>
                                <option>Diesel</option>
                            </select>
                        </div>
                        <div class="col-sm-2"><button type="submit" class="btn btn-lg btn-blue">Calcular</button></div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-3 number">
                        <div class="circle">
                            <h6>$</h6>
                            <p><b class="timer" id="lollipop" data-to="3" data-speed="1500">350.000</b></p>
                        </div>   
                        <h4>Nuevo gasto anual</h4>
                    </div>    
                    <div class="col-sm-3 number">
                        <div class="circle">
                            <h6>$</h6>
                            <p><b class="timer" id="lollipop" data-to="3" data-speed="1500">0</b></p>
                        </div>   
                        <h4>Ahorro</h4>
                    </div>    
                    <div class="col-sm-3 number">
                        <div class="circle">
                            <h6>%</h6>
                            <p><b class="timer" id="lollipop" data-to="3" data-speed="1500">0</b></p>
                        </div>   
                        <h4>Porcentaje de Ahorro</h4>
                    </div>    
                    <div class="col-sm-3 number">
                        <div class="circle">
                            <h6>kg</h6>
                            <p><b class="timer" id="lollipop" data-to="3" data-speed="1500">0</b></p>
                        </div>   
                        <h4>Emisiones C02 evitadas al año</h4>
                    </div>    
                </div>    
            </div>
        </div>
    </section>-->
      <!--<section class="description p-t-60 p-b-20" id="industrial">
        <div class="container">
            <div class="row">
                <div class="col-md-12 palovit-title m-b-20">
                    <h2>Coolheating Industrial</h2>
                    <hr class="hr" />
                    <p>Tenemos soluciones de bombas de calor para diferentes industrias y comercios.</p>
                </div>
                <div class="col-sm-4 m-b-50 item hover-img">
                    <figure>
                        <a href="{{path('greenhouse')}}"><img src="./images/invernadero.jpg"></a>
                    </figure>
                    <div>
                        <h4><a href="{{path('greenhouse')}}">Climatización Invernaderos</a></h4>
                    </div>
                </div>
                <div class="col-sm-4 m-b-50 item hover-img">
                    <figure>
                        <a href="{{path('drying')}}"><img src="./images/secador.jpg"></a>
                    </figure>
                    <div>
                        <h4><a href="{{path('drying')}}">Secadora Agrícola</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>  -->
      <section id="about" class="company light-grey-bg p-t-30 p-b-100">
        <div class="container">
          <div class="row">
            <div class="col-md-12 palovit-title m-b-20 logo-about">
              <img src="./images/coolheating-logo-01.png">
              <hr class="hr" />
              <p>En Coolheating creemos que las medidas de eficiencia energética deben ser accesibles para todo el
                mundo.</p>
            </div>
            <div class="col-sm-6 about-description">
              <div class="about-icon">
                <img src="./images/icon-somos-1.png">
              </div>
              <p>Proveemos soluciones de eficiencia energética, ayudando a nuestros clientes a generar mayor valor en
                sus propiedades e industrias y aportando significativamente en la reducción de los gastos energéticos y
                la emisiones de contaminantes.</p>
            </div>
            <div class="col-sm-6 about-description">
              <div class="about-icon">
                <img src="./images/icon-somos-2.png">
              </div>
              <p>Creemos en la sustentabilidad como el camino para generar los cambios que aseguren sostenibilidad
                social, ambiental y económica mejorando así el bienestar de las presentes y futuras generaciones.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="form2" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12 palovit-title m-b-30">
              <h2>Escríbenos</h2>
              <hr class="hr" />
              <div class="col-md-12">
                <p>Nueva sección de contacto sin formulario</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer id="footer" class="footer">
      <div class="ftop">
        <div class="container">
          <div class="row">
            <div class="col-md-8">

              <ul class="footer-menu">
                <li><a href="/">HOME</a></li>
                <li><a href="#home">HOGAR - COMERCIAL</a></li>
                <li><a href="#about">QUIENES SOMOS</a></li>
                <li><a href="#contact">CONTACTO</a></li>
              </ul>
            </div>
            <div class="col-md-4 contact">
              <h3>CONTACTO</h3>
              <p>Av. Apoquindo 4775 of 1804, Las condes.</p>
              <p><a href="mailto:contacto@coolheating.cl">contacto@coolheating.cl</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="fbottom">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="/" class="logo">
                <img src="./images/Logo_Coolheating.png" class="img-responsive" alt="" />
              </a>
            </div>
            <div class="col-md-4 copyright">
              © Copyright 2016. All Rights Reserved.
            </div>
            <!--<div class="col-md-6">
                           <ul class="social">
                               <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                               <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                               <li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
                               <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                           </ul>
                       </div>-->
          </div>
        </div>
      </div>
    </footer>
  </div>

  <a class="pagetop" href="#">
    <i class="fa fa-chevron-up"></i>
  </a>


  <script src="./js/jquery-3.1.1.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <!-- <script src="./js/script.js"></script> -->
  <script src="./js/jquery.cookie-1.4.1.min.js"></script>

</body>